@{
    ViewData["Title"] = "About and Contact";
}

<div class="CA" >
    <h1>About and Contact</h1>
    <h3>Information on the Website and Contact Details</h3>  
</div>

<div>
    <h2 style="text-align:left; padding-left: 10%;">My contact details</h2>
    <br />
    <p class="notp">Phone Number: 0400974058 </p>
    <p class="notp">Email Address: u3188930@uni.canberra.edu.au</p>
    <p class="notp">This website is for educational information on Industry 4.0. Presenting the companies that are leading the charge in future technology. </p>
    <p class="notp">To contact any of the companies directly follow the links provided in the <a href="/Home/Organisations" style="text-shadow: none;">Organisation and Companies</a> page which will take you to their websites and you will find contact details there.</p>
    <p></p>
    <br />
</div>

<div><h1>Feedback</h1></div>

