@{
    ViewData["Title"] = "Organisations";
}

<div class="intro">
    <h1> Companies & Organisations</h1>
    <h2> The Six Leading Companies in Industry 4.0</h2>
</div>



<div class="CO"></div>
<div class="row">
    <div class="col-md-6 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/amazon.jpg" class="img-responsive" style="width:1000px; height:500px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>Amazon is an American electronic commerce and cloud computing company based in Seattle, Washington, that was founded by Jeff Bezos on July 5, 1994.</p>
                <a href="https://www.amazon.com">Amazon Website</a>
            </figcaption>

        </figure>
    </div>
    <div class="col-md-6 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/google.jpg" class="img-responsive" style="width:1000px; height:500px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>Google is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware</p>
                <a href="https://www.google.com">Google Website</a>
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-12 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/gov.jpg" class="img-responsive" style="width:2000px; height:700px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>The Department of Industry, Innovation and Science is a department of the Australian Government responsible for consolidating the Government’s efforts to drive economic growth, productivity and competitiveness by bringing together industry, energy, resources and science.</p>
                <a href="https://www.industry.gov.au/">Department of Industry Innovation and Science Website</a>
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-6 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/IBM.jpg" class="img-responsive" style="width:1000px; height:500px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>IBM manufactures and markets computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology.</p>
                <a href="https://www.ibm.com">IBM Website</a>
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-6 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/microsoft.jpg" class="img-responsive" style="width:1000px; height:500px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>Microsoft develops, manufactures, licenses, supports and sells computer software, consumer electronics, personal computers, and related services.</p>
                <a href="https://www.microsoft.com">Microsoft Website</a>
            </figcaption>
            
        </figure>
    </div>
    <div class="col-md-12 col-sm-12" style="padding:10px 10px 10px 10px;">
        <figure>
            <img src="~/images/CSIRO.jpg" class="img-responsive" style="width:2000px; height:700px; ">
            <figcaption style="visibility:visible; background-color:transparent; opacity: 1;">
                <p>The Commonwealth Scientific and Industrial Research Organisation (CSIRO) is an independent Australian federal government agency responsible for scientific research. Its chief role is to improve the economic and social performance of industry for the benefit of the community. </p>
                <a href="https://www.csiro.au/">CSIRO Website</a>
            </figcaption>
            
        </figure>
    </div>
</div>

<div>
    <h1>Feedback</h1>
    
</div>
